body {
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    margin: 1rem 0.3rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #4A4A4A;
}
header {
    text-align: center;
    font-size: 24px;
    height: 100px;
}
footer {
    text-align: center;
    font-size: 16px;
}
header div {
    margin-top: 50px;
}
.pattern {
    max-width: 300px;
    width : 300px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
